<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">
    <test name="Test1">
      <!--<parameter name="verify_base_url" value="http://172.16.2.111:9005/"/>-->
      <parameter name="verify_base_url" value="http://172.16.2.38:15081/"/>
      <!--<parameter name="verify_base_url" value="http://172.16.2.111:8087/heika-verify/"/>-->
      <parameter name="verify_username" value="admin@renrendai.com"/>
      <parameter name="verify_password" value="bH7Qsd8kPfEE2zdTwgZUVF2iYv5kVtBGAyWBzZjk50S2uaWgVMLtbAtTgIpu0D85X3VgFie%2F3W4HCHY088%2BCAVEO8PyW0nq57id29Aw5Mm0PA5KEf6Z18roUeGDfsTF0G5ifCwPRfC4P%2Bu0E7YUEEAikWHgevfqSYGtKub0uQvA%3D"/>
      <parameter name="login_session" value="JSESSIONID=0989C0ED4D5B787732B75DCFB984CC24"/>
      <parameter name="sql_connection" value="jdbc:mysql://172.16.2.38:3306/heika_new"/>
      <!--<parameter name="sql_connection" value="jdbc:mysql://172.16.2.112:3306/heika_new"/>-->
      <parameter name="sql_username" value="heika_dev"/>
      <parameter name="sql_passwd" value="heika_dev@qwe321"/>

      <!-- test data for verify search user cases -->
      <parameter name="verify_searchuser_by_nickname" value="shenshuo111"/>
      <parameter name="verify_searchuser_by_mobile" value="15911027605"/>
      <parameter name="verify_searchuser_by_idcard" value="610830198212012014"/>
      <parameter name="verify_searchuser_by_name" value="史良万"/>
      <parameter name="verify_getUserVerifyLog" value="100034582"/>
      <parameter name="verify_getUserDetail" value="100034758"/>
      <parameter name="verify_getUserInvDetail" value="100034832"/>

      <!-- test data for UI -->
      <parameter name="verify_ui_url" value="http://172.16.2.38:15081/login/index.html"/>
      <parameter name="verify_ui_login_username" value="admin@renrendai.com"/>
      <parameter name="verify_ui_login_password" value="L123456"/>
      <parameter name="verify_ui_search_by_nickname" value="后台上线_auto_01(勿动)"/>
      <parameter name="verify_ui_approve_user" value="后台上线_auto_01(勿动)"/>

      <groups>
        <run>
          <include name="verify-debug"/>
          <!--<include name="UI"/>-->
          <!--<include name="UI"/>-->
        </run>
      </groups>
      <packages>
          <package name="com.heika.test.verify.cases.API" />
          <!--<package name="com.heika.test.verify.my_test" />-->
          <package name="com.heika.test.verify.cases.UI" />
      </packages>
    </test>
</suite>