<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://172.16.2.112:3306/heika_new</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.heika.test.entities.user.WorkPositionInfoEntity"/>
      <mapping class="com.heika.test.entities.user.RegionEntity"/>
      <mapping class="com.heika.test.entities.user.UniversityInfoEntity"/>
    <mapping class="com.heika.test.entities.verify.VerifyRejectReasonEntity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>